/**
 * @file
 * Subtheme specific CSS.
 */
/* Sistem Ayarlari */
.row > * {
  padding: 0 !important;
}
.row {
  margin: 0 !important;
}
.menu--main li a {
  color: #0d7c7b;
  font-weight: 700;
  font-size: 18px;
}
.menu--main li a:hover {
  color: #15b6b4;
}
.featured-top .container {
  max-width: 100%;
  padding: 0 !important;
}
.site-footer .block {
  margin: 0 0 20px 0;
  border: none !important;
}
.site-footer .nav-item{
  display: block;
  width: 100% !important;
}
.site-footer .menu--footer {
  text-align: center;
}
.language-link {
  color: #fff;
  font-weight: 700;
  border: 2px solid;
  padding: 3px 5px;
  text-decoration: none;
}
.language-link.is-active {
  display: none;
}
/***********************************************/
/* Top Header Ayarlari */
.iletisim-ust {
  color: #fff !important;;
  font-size: initial !important;
  padding: 1% 0 0 5px;
  display: flex;
}
.iletisim-ust a {
  text-decoration: none;
  color: #fff !important;
}
.iletisim-ust-adres, .iletisim-ust-eposta, .iletisim-ust-telefon, .iletisim-ust-whatsapp {
  margin-right: 1vw;
}
/***********************************************/
/* Anasayfa Slider Ayarlari */
.flexslider {
  border: none !important;
}
#anasayfa-slider {
  position: relative;
}
#anasayfa-slider:before {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(360deg, rgba(13,124,123,0.8) 0%, rgba(21,182,180,0.8) 50%, rgba(21,182,180,0) 100%);
}
#anasayfa-slider-baslik {
  position: absolute;
  bottom: 10%;
  padding: 0 10%;
  color: #fff;
  font-weight: 700;
  font-size: 6em;
  text-shadow: 2px 2px #222;
}
/***********************************************/
/* Anasayfa Blok */
#block-anasayfaaciklama {
  margin: 0 0 5%;
}
#anasayfa-blok-yazi{
  width: 50%;
  padding: 5% 5% 0 0;
  float: left;
}
#anasayfa-blok-gorsel{
  width: 40%;
  float: left;
  position: relative;
}
#anasayfa-blok-gorsel img {
  width: 100%;
  height: auto;
  position: relative;
  border: none;
  max-width: 320px;
  float: right;
  padding-top: 20px;
}
#anasayfa-blok-gorsel:before {
  content: "";
  width: 50%;
  height: 45%;
  background: #15b6b4;
  position: absolute;
  top:0px;
  right: -20px;
  z-index: 0;
}
.btn-large {
  color: #fff !important;
  background-color: #0d7c7b !important;
  border-color: #0d7c7b !important;
  padding: 1.5% 10px;
  font-weight: 700;
}
.btn-large:hover {
  color: #fff !important;
  background-color: #15b6b4 !important;
  border-color: #15b6b4 !important;
}
/***********************************************/
/* Hizmetlerimiz Sayfa ve Blok Ayarlari */
#block-views-block-hizmetlerimiz-block-1 h2{
  text-align: center;
  font-weight: 700;
  font-size: 3em
}
.hizmet-satir {
  width: 49%;
  margin: 0 1% 1% 0;
}
#hizmet-blok, #hizmet-sayfa {
  display: flex;
  border-bottom: 2px solid;
  height: 175px;
}
#hizmet-blok-ikon {
  font-size: 3em;
  margin: 3% 2% 0 0;
}
#hizmet-blok-baslik a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}
#hizmet-sayfa-baslik {
  margin-top: 1%;
}
#hizmet-sayfa-baslik a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}
#hizmet-sayfa-ikon {
  font-size: 2em;
  margin: 0 2% 0 0;
}
/***********************************************/
/* Duyarli Ekran Ayarlari */
@media (max-width:600px) {
  .iletisim-ust {
    display: block;
    padding: 0 20px 0 20px;
  }
  .adres2:before {
    content: "\a";
    white-space: pre;
  }
  .region.region-top-header-form {
    text-align: center !important;
    margin: 0 0 5% 0 !important;
  }
  #block-dildegistirici {
    margin-top: 10%;
  }
  .navbar-brand {
    width: 70%;
  }
  #anasayfa-slider-baslik {
    font-size: 2em;
  }
  #anasayfa-blok-yazi {
    width: 100%;
  }
  #anasayfa-blok-gorsel {
    width: 70%;
    margin: 0 15%;
  }
  #anasayfa-blok-gorsel img {
    max-width: 100%;
  }
  .hizmet-satir {
    width: 100%;
    margin: 0 0 10%;
  }
  #hizmet-blok, #hizmet-sayfa {
    height: auto;
  }
  .region-footer-first .navbar-brand {
    margin: 0 auto 10%;
  }
  .region-footer-second .menu--footer {
    text-align: left;
  }
  .menu--footer li {
    padding: 0 0 0 1rem
  }
}
